@import "variable";

html{
  font-size: 15px;
}
body {
  margin:0;
  font:1em/1.2 "ProximaNovaBold", Arial, Helvetica, sans-serif;
  background:#fff;
  min-width:1200px;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:none;
  color:#51423d;
}
img {border-style:none;}

header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }